html,body {
    margin: 0;
    padding: 0;
}
#mainWrapper {
    padding-top: 10px;
}
    #top-bar {
        padding: 5px;
        text-align: center;
    }
    #content-area {

    }
        #content-area > * {

        }
        #left-bar {
            overflow-y: auto;
        }
            #left-bar .notebooks-controls {
                margin-bottom: 10px;
            }
            #left-bar .notebook {
                /* border: 1px solid #CCC; */
                /* padding: 10px; */
            /* opacity: .7; */
                position: relative;
            }
                #left-bar .notebook:hover {
                    /* background-color: #FFFFE0; */
                }
                #left-bar .notebook .notebook-body {
                    display: none;
                }
                #left-bar .notebook.current {
                    /* background-color: #FFFFE0; */
                    /* filter: alpha(opactity=20); */
                    /* opacity: 1; */
                    /* border: 2px solid #333; */
                }
                    /* #left-bar .notebook:hover .notebook-body, */
                    #left-bar .notebook.current .notebook-body {
                        display: block;
                    }
                #left-bar .notebook .notebook-head {
                    position: relative;
                    padding-right: 50px;
                }
                #left-bar .notebook .notebook-context-menu {
                    position:absolute;
                    right: 5px;
                    top: 0px;
                }
                    #left-bar .notebook .notebook-context-menu .notebook-context-icon {
                        opacity: .4;
                    }
                    #left-bar .notebook .notebook-context-menu .notebook-context-icon:hover {
                        opacity: 1;
                    }
                #left-bar .notebook .notebook-head .notebook-note-count {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 50px;
                    font-size: .8em;
                    text-align: right;
                }
        #right-bar {
            overflow-y: auto;
        }
            #right-bar .note {
                position: relative;
            }
                #right-bar .note .note-title-input,
                #right-bar .note .note-content-textarea {
                    display: none;
                }
                #right-bar .note.editing .note-title-input,
                #right-bar .note.editing .note-content-textarea {
                    display: inline-block;
                }
                #right-bar .note.editing .note-title-inline,
                #right-bar .note.editing .note-content-inline {
                    display: none;
                }
.color-picker {
    margin: auto;
    width: 125px;
    position: relative;
}
.color-select {
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.color-select:hover {
    border: 1px solid #000;
}
.heavy-text {
    font-weight: bold;
    font-size: 1.2em;
}
.medium-text {
    font-weight: bold;
}
.textbox {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #ffffff;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -o-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    width:250px;
    margin-right:1px;
}
.textbox:focus {
    outline: 1px ridge rgb(0,0,0);
    outline: 1px ridge rgba(0,0,0,.4);
}