html,body {
    margin: 0;
    padding: 0;
}
#mainWrapper {
    padding-top: 10px;
    overflow: hidden;
}
    #top-bar {
        padding: 5px;
        text-align: center;
    }
    	#settings-menu {
    		margin-top: -2px;
    	}
    #content-area {

    }
        #content-area > * {
			height: 100%;
			position: relative;
			overflow-y: auto;
            overflow-x: hidden;
        }
        #left-bar {
            
        }
        	#left-bar .notebooks {
/*         		overflow-y: auto; */
/*         		overyflow-x: hidden; */
        	}
            #left-bar .notebooks-controls {
                margin-bottom: 10px;
            }
            #left-bar .notebook {
                /* border: 1px solid #CCC; */
                /* padding: 10px; */
            /* opacity: .7; */
                position: relative;
            }
                #left-bar .notebook:hover {
                    /* background-color: #FFFFE0; */
                }
                #left-bar .notebook .notebook-body {
					/* display: none; */
                }
                #left-bar .notebook.current {
                    /* background-color: #FFFFE0; */
                    /* filter: alpha(opactity=20); */
                    /* opacity: 1; */
                    border: 2px solid #333;
                }
                    /* #left-bar .notebook:hover .notebook-body, */
                    #left-bar .notebook.current .notebook-body {
                        display: block;
                    }
                #left-bar .notebook .notebook-head {
                    position: relative;
                    padding-right: 50px;
                }
                	#left-bar .notebook .notebook-head .notebook-title input.textbox {
                		width: 175px;
                	}
                #left-bar .notebook .notebook-head .notebook-note-count {
                    position: absolute;
                    right: 0px;
                    top: 3px;
                    width: 50px;
                    font-size: .8em;
                    text-align: right;
                }
        #right-bar {

        }
        	#right-bar .note-search {
        		padding-bottom: 5px;
        	}
        	#right-bar .notes-organization {
        		margin-left: 30px;
        	}
        	#right-bar .notes {
/*         		overflow-y: auto; */
/*         		overflow-x: hidden; */
        	}
        		#right-bar .notes.tile-notes .note {
        			display: inline-block;
        			min-width: 200px;
        			width: 29%;
        			margin: 10px;
        		}
        			#right-bar .notes.tile-notes .note .note-content-inner {
        				height: 150px;
        				
        			}
            #right-bar .note {
                position: relative;
            }
            	#right-bar .note.current {
            		border: 1px solid #000;
            	}
            	#right-bar .note .note-title-inline {
            		min-width: 150px;
            		min-height: 18px;
            		display: inline-block;
            	}
            	#right-bar .note .note-content-inner {
            		padding: 20px;
            		max-height: 300px;
            		overflow-y: auto;
        			overflow-x: hidden;
            	}
/*             	#right-bar .note .note-edit-notebook { */
            		
/*             	} */
/*             		#right-bar .note .note-edit-notebook a:after { */
/*             			display: none; */
/*             		} */
                #right-bar .note .note-content-inline,
                #right-bar .note .editing-text-hidden {
                	white-space: pre;
                }
                #right-bar .note .note-content-inline {
                	min-height: 80px;
                }
        .notebook .notebook-context-menu,
        .note .note-context-menu  {
			position:absolute;
			right: 5px;
			top: 0px;
        }
        	.notebook .notebook-context-menu .notebook-context-icon,
            .note .note-context-menu .note-context-icon  {
				opacity: .4;
            }
            .notebook .notebook-context-menu .notebook-context-icon:hover,
            .note .note-context-menu .note-context-icon:hover {
            	opacity: 1;
            }
.color-picker {
    margin: auto;
    width: 125px;
    position: relative;
}
.color-select {
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.color-select:hover {
    border: 1px solid #000;
}
.heavy-text {
    font-weight: bold;
    font-size: 1.2em;
}
.medium-text {
    font-weight: bold;
}
.editable {
	cursor: pointer;
}

#copyright {
    opacity:.3;
    position:fixed;
    bottom:0px;
    right:5px;
    color: #FFF;
}
