html,body {
    background-color: #333;
}
#mainWrapper .well {
    background-color: #F5F2F8;
}
.scard {
    padding: 10px;
    margin: 10px 0 0 0;
    border-radius: 10px;
    background-color: #DDD;
}
.stag {
    padding: 2px;
    margin: 2px;
    border: 1px solid #CCC;
    background-color: #AAA;
    border-radius: 5px;
    display: inline-block;
    color: inherit;
}
.scolor1 {
    background-color: #F7977A;
}
.scolor2 {
    background-color: #C5E3BF;
}
.scolor3 {
    background-color: #c1F0F6;
}
.scolor4 {
    background-color: #FFF79A;
}
.scolor5 {
    background-color: #FDC68A;
}
.scolor6 {
    background-color: #D8BFD8;
}
.btn {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #ffffff;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -o-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2p;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    cursor:pointer;
    outline: none !important;
}
#mainWrapper input {
	outline: none;
}
.btn:not(.btn-small) {
	padding: 7px 12px;
}
.btn:hover {
    color: #333333;
    border-color: #888888;
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn:active {
    color: #000000;
    border-color: #444444;
}
.btn .caret {
	margin-top: 6px;
}
#mainWrapper .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
	background: #F00;
}
.current-sort-area  {
	padding: 7px 12px;
} 
.sort-abutted-dropdown {
	border-bottom-right-radius: none !important;
	border-top-right-radius: none !important;
}
.current-sort-area.sort-abutt-dropdown {
	border: 1px solid #dcdcdc;
	border-left: none;
/* 	padding: 5px 12px !important; */
	font: bold 12px Helvetica, Arial, sans-serif
}