<!DOCTYPE html>
<html>
<head>
<title>sticklet</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="notes"/>
<meta name="author" content="vincent dumas"/>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.min.css">
<link rel="stylesheet" type="text/css" href="css/notes.css">
<link rel="stylesheet" type="text/css" href="css/theme.css">
</head>
<body>
	<div id="mainWrapper" class="container-fluid">
		<div id="top-bar" class="well">
			<span class="heavy-text">sticklet.com</span>
			<div id="settings-menu" class="dropdown pull-right">
				<a class="btn btn-small" data-toggle="dropdown"> <i
					class="icon-cog"></i>
				</a>
				<ul class="dropdown-menu">
					<li><a href="javascript:void(0);">settings</a></li>
					<li><a href="javascript:void(0);" id="logout" class="logout">logout</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="content-area" class="row-fluid">
			<div id="left-bar" class="span3 well">
				<div class="heavy-text text-center">notebooks</div>
				<div class="notebook-controls clearfix">
					<div class="clearfix span12">
						<div class="span7">
							<div class="dropdown pull-left">
								<span class="sort-control btn sort-abutted-dropdown"
									data-toggle="dropdown"> <span class="caret"></span> <span>sort</span>
								</span>
								<ul class="dropdown-menu">
									<li><a href="javascript:void(0)" data-type="notebook"
										data-sort-by="default">default</a></li>
									<li class="dropdown-submenu"><a href="javascript:void(0)"
										data-toggle="dropdown">updated</a>
										<ul class="dropdown-menu">
											<li><a href="javascript:void(0)" data-type="notebook"
												data-direction="desc" data-sort-by="updated">desc</a></li>
											<li><a href="javascript:void(0)" data-type="notebook"
												data-direction="asc" data-sort-by="updated">asc</a></li>
										</ul></li>
									<li class="dropdown-submenu"><a href="javascript:void(0)"
										data-toggle="dropdown">created</a>
										<ul class="dropdown-menu">
											<li><a href="javascript:void(0)" data-type="notebook"
												data-direction="desc" data-sort-by="created">desc</a></li>
											<li><a href="javascript:void(0)" data-type="notebook"
												data-direction="asc" data-sort-by="created">asc</a></li>
										</ul></li>
									<li><a href="javascript:void(0)" data-type="notebook"
										data-sort-by="color">color</a></li>
									<li><a href="javascript:void(0)" data-type="notebook"
										data-sort-by="title">title</a></li>
								</ul>
							</div>
							<div class="current-sort-area pull-left sort-abutt-dropdown">
								<span class="current-sort">default</span>
							</div>
						</div>
						<div class="span5">
							<button class="btn createNotebook pull-right">
								<span>new notebook</span>
							</button>
						</div>
					</div>
				</div>
				<div class="notebooks"></div>
			</div>
			<div id="right-bar" class="span9 well" data-notebook-id="">
				<div class="note-controls clearfix">
					<div class="clearfix span12">
						<div class="span4">
							<div>
								<div class="dropdown pull-left">
									<span class="sort-control btn sort-abutted-dropdown"
										data-toggle="dropdown"> <span class="caret"></span> <span>sort</span>
									</span>
									<ul class="dropdown-menu">
										<li><a href="javascript:void(0)" data-type="note"
											data-sort-by="default">default</a></li>
										<li class="dropdown-submenu"><a href="javascript:void(0)"
											data-toggle="dropdown">updated</a>
											<ul class="dropdown-menu">
												<li><a href="javascript:void(0)" data-type="note"
													data-direction="desc" data-sort-by="updated">desc</a></li>
												<li><a href="javascript:void(0)" data-type="note"
													data-direction="asc" data-sort-by="updated">asc</a></li>
											</ul></li>
										<li class="dropdown-submenu"><a href="javascript:void(0)"
											data-toggle="dropdown">created</a>
											<ul class="dropdown-menu">
												<li><a href="javascript:void(0)" data-type="note"
													data-direction="desc" data-sort-by="created">desc</a></li>
												<li><a href="javascript:void(0)" data-type="note"
													data-direction="asc" data-sort-by="created">asc</a></li>
											</ul></li>
										<li><a href="javascript:void(0)" data-type="note"
											data-sort-by="color">color</a></li>
										<li><a href="javascript:void(0)" data-type="note"
											data-sort-by="title">title</a></li>
									</ul>
								</div>
								<div class="current-sort-area pull-left sort-abutt-dropdown">
									<span class="current-sort">default</span>
								</div>
							</div>
							<div class="btn-group notes-organization">
								<button class="btn" data-type="stack" title="stack notes"><i class="icon-th-list"></i></button>
								<button class="btn" data-type="tile" title="tile notes"><i class="icon-th"></i></button>
							</div>
						</div>
						<div class="span6">
							<div class="form-search">
								<div class="input-append">
									<input type="text" class="textbox search-query note-search"/>
									<button class="btn" type="button">search</button>
								</div>
							</div>
						</div>
						<div class="span2">
							<button class="btn createNote pull-right">
								<span>new sticklet</span>
							</button>
						</div>
					</div>
				</div>
				<div class="notes"></div>
			</div>
		</div>
	</div>
	<script type="text/template" id="notebookTemplate">
      <div class="notebook scard scolor<%= color %>"
           data-notebook-id="<%= id %>"
           data-notebook-index="<%= index %>"
           data-notebook-created="<%= created %>" 
           data-notebook-updated="<%= updated %>"
           data-notebook-noteCount="<%= noteCount %>"
           data-notebook-color="<%= color %>"
           data-notebook-title="<%= escape(title) %>">
        <div class="notebook-context-menu">
          <div class="dropdown pull-right">
            <a href="javascript:void(0);" class="notebook-context-icon" data-toggle="dropdown">
              <i class="icon-chevron-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
				<%= sticklet.getColorPicker() %>
              </li>
				<li>
					<a href="javascript:void(0);" class="editNotebookTitle">edit title</a>
				</li>
			  <li>
				<a href="javascript:void(0);" class="deleteNotebook">delete</a>
		      </li>
            </ul>
          </div>
        </div>
        <div class="notebook-head">
          <div class="notebook-title">
            <span class="medium-text">title: </span>
            <%= sticklet.notebookTitleTemp({title: title}) %>
          </div>
          <div class="notebook-note-count">
			<span class="notebook-note-count-value"><%= noteCount %></span><span> notes</span>
		  </div>
        </div>
        <div class="notebook-body">
          <div class="notebook-updated">
            <span class="medium-text">updated:</span>
            <span><%= displayDate %></span>
          </div>
          <!-- <div class="notebook-description">
            <span class="medium-text">description:</span>
            <p><%= typeof description !== "undefined" ? description : "" %></p> -->
          </div>
          <div class="notebook-tags">
			<% if (typeof tags !== "undefined" && tags) { %>
            <span class="medium-text">tags: </span>
            <span>
              <% typeof tags !== "undefined" && _(tags).each(function(tag) { %>
              <a href="javascript:void(0);"
                 class="notebook-tag stag"
                 data-tag-id="<%= tag.id %>"
                 data-filter-by="tag"
                 data-type="notebook"><%= tag.name %></a>
              <% }); %>
            </span>
			<% } %>
          </div>
        </div>
      </div>
    </script>
	<script type="text/template" id="colorPickerTemplate">
		<div class="color-picker">
        	<% _(colors).each(function(colorCl, i) { %><div class="color-select <%= colorCl %>" data-color-id="<%= (i + 1) %>"></div><% }); %>
        </div>
	</script>
	<script type="text/template" id="noteNotebookTemplate">
		<% _(notebooks).each(function(nb) {
			if (curNotebook != sticklet.nbElm.getId(nb)) {
		%>
			<li>
				<a href="javascript:void(0);" class="note-notebook-select" 
					data-notebook-id="<%= sticklet.nbElm.getId(nb) %>"><%= unescape(sticklet.nbElm.getTitle(nb)) %></a>
			</li>
		<% } }); %>
	</script>
	<script type="text/template" id="noteTemplate">
      <div class="note scard scolor<%= color %>"
           data-note-id="<%= id %>"
           data-note-index="<%= index %>"
           data-note-notebook="<%= notebook %>"
           data-note-created="<%= created %>" 
           data-note-updated="<%= updated %>"
           data-note-color="<%= color %>"
           data-note-content="<%= escape(content) %>"
           data-note-title="<%= escape(title) %>">
        <div class="note-context-menu context-menu">
          <div class="dropdown pull-right">
            <a href="javascript:void(0);" class="note-context-icon context-icon" data-toggle="dropdown">
              <i class="icon-chevron-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
				<%= sticklet.getColorPicker() %>
              </li>
				<li class="dropdown-submenu pull-left note-edit-notebook">
					<a href="javascript:(0);" class="" data-toggle="dropdown">notebook</a>
					<ul class="dropdown-menu">
						<li><a>test</a></li>
						<li><a>test</a></li>
						<li><a>test</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0);" class="deleteNote">delete</a>
				</li>
            </ul>
          </div>
        </div>
        <div class="note-head">
          <div class="note-title">
            <span class="medium-text">title: </span>
			<%= sticklet.noteTitleTemplate({title: title}) %>
          </div>
        </div>
        <div class="note-body">
          <div class="note-content">
            <span class="medium-text">content: </span>
			<div class="note-content-inner">
            	<div><%= sticklet.noteContentTemplate({content: content}) %></div>
			</div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/template" id="noteTitleTemplate">
		<span class="note-title-inline editable title" tabindex="-1" title="Double click to edit"><%= title||"<span class='default-content'>sticklet</span>" %></span>
	</script>
    <script type="text/template" id="noteContentTemplate">
		<p class="note-content-inline editable" tabindex="-1" title="Double click to edit"><%= content||"<span class='default-content'>sticklet content</span>" %></p>
	</script>
	<script type="text/template" id="notebookTitleTemplate">
		<a href="javascript:void(0);" class="notebook-title-link editable title" title="double click to edit"><%= title||"<span class='default-content'>sticklets</span>" %></a>
	</script>
    <script type="text/template" id="textareaTemplate">
		<div class="hide editing-text-hidden textbox span12"><%= text %></div>
    	<textarea class="autoresize editing-text span12 textbox"
			placeholder="Note content" 
			data-parent-type="content" data-type="<%= type %>" 
			data-id="<%= id %>"><%= text %></textarea>
    </script>
    <script type="text/template" id="textTemplate">
    	<input class="editing-text input-large textbox" 
				placeholder="Note title" 
				data-parent-type="title" 
				data-type="<%= type %>" data-id="<%= id %>" value="<%= text %>"/>
    </script>
	<div id="copyright">
		&copy; sticklet.com (<script type="text/javascript">(function() {
			var d = new Date();
			document.write(d.getFullYear());
		}());
		</script>)
	</div>
</body>
<script type="text/javascript" src="/js/lib/hash.js"></script>
<script type="text/javascript" src="/js/lib/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="/js/lib/underscore.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/dom.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript" src="/js/notes.js"></script>
</html>
