<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<filter>
	    <filter-name>StripesFilter</filter-name>
	    <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
	    
	    <init-param>
	        <param-name>ActionResolver.Packages</param-name>
	        <param-value>com.sticklet.www.action</param-value>
	    </init-param>
	    
	    <init-param>
	        <param-name>MultipartWrapperFactory.Class</param-name>
	        <param-value>com.sticklet.www.exclude.EmptyMultipartWrapper</param-value>
	    </init-param>
	</filter>
	
	<filter-mapping>
	    <filter-name>StripesFilter</filter-name>
	    <servlet-name>DispatcherServlet</servlet-name>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
	    <servlet-name>DispatcherServlet</servlet-name>
	    <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>DispatcherServlet</servlet-name>
	    <url-pattern>/*</url-pattern>
	</servlet-mapping>

	<listener>
	 	<listener-class>com.sticklet.www.listener.StickletContextListener</listener-class>
  	</listener>
  	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>index.html</web-resource-name>
			<url-pattern>/</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>
